<head>
	<style type="text/css">
		#Text1
		{
			width: 60px;
		}
		#Text2
		{
			width: 60px;
		}
		#Text5
		{
			width: 60x;
		}
		#Text4
		{
			width: 60px;
		}
		#Text3
		{
			width: 60px;
		}
		#Button1
		{
			width: 382px;
		}
		.style1
		{
			width: 474px;
			height: 133px;
            margin-bottom: 20px;
        }
		#Button2
		{
			width: 382px;
			margin-bottom: 0px;
		}
		#Button3
		{
			width: 380px;
		}
		#textes a, #textes a:visited, #textes a:focus, #textes a:hover
		{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #000000;
			text-decoration: underline;
		}
		#TextIP1
		{
			width: 58px;
		}
		#TextIP2
		{
			width: 56px;
		}
		#TextIP3
		{
			width: 58px;
		}
		#TextIP4
		{
			width: 58px;
		}
		#TextPORT
		{
			width: 60px;
		}
	</style>
	<p style="height: 126px">
		<img alt="Logo" class="style1" longdesc="VFI-System.com" 
			src="images/logo2.png" /></p>
	<p>
		E-mail :<a href="mailto:contact@vfi-system.com"> Contact@vfi-system.com</a></p>
	<hr style="color: #CC3300; background-color: #CC0000" title="1111" />
</head>
<form action = "MakeIt"  "" method = "POST">
<h2>
	&nbsp;&nbsp; Raspberry Agent SNMP&nbsp;
</h2>
&nbsp;<input name="TextIP1" maxlength="3" type="text" value="192" />
	  <input name="TextIP2" maxlength="3" type="text" value="168" />
	  <input name="TextIP3" maxlength="3" type="text" value="87" />
	  <input name="TextIP4" maxlength="3" type="text" />&nbsp; :&nbsp;
	  <input name="TextPort" maxlength="3"  type="text" value="162" /></br>
<p>
	 <button name  = "Operation" type = "submit" value = "add" >Ajouter une adresse de notification de TRAP</button>
</p>
<p>
	 <button name = "Operation" type="submit" value="suppr">D&eacute;sabonner une adresse de notification de TRAP</button>
</p>
</form>

	<a href='download'><button>T&eacute;l&eacute;charger la MIB</button></a>	
<hr style="color: #CC3300; background-color: #CC0000" title="1111" />
	<a href='reboot'><button>Red&eacute;marrer le syst&egrave;me pour prise en compte</button></a>	
	
